body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 1rem;
  padding-right: 2rem;
  background-color: #273043;
  border-radius: 10px;
}

.input{
  height: 2.5rem;
  width: 95%;
  padding-left: 1rem;
  background-color: 		hsl(152, 41%, 52%, 0.3);
  border: transparent;
  border-radius: 10px;
  font-family: "SGR";
  color: #52b788;
  outline: .13rem solid #52b788;
}
.input::placeholder{
  color: #40916c;
}

.input::placeholder {
  color: var(--c, #52b788);
}
.res,.err{
  font-family: "SGR";
  
}
.err{
  margin-top: 8px;
  position: absolute;
  top: 4.3rem;
  font-size: 15px;
}
.res{
  color: #52b788;
  border: transparent;
  outline: none;
  width: 15rem;
  font-size: 15px;
  background-color: transparent;
}
.res::placeholder{
  font-size: 15px;
}
button{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 6px;
  background-color: #52b788;
  border: transparent;
  cursor: pointer;
  margin-left: 1.25rem;
  visibility: hidden;
  margin-right: -0.3rem;
  margin-top: 3px;
}

@font-face {
  font-family: "SGR";
  src: url("/SpaceGrotesk-Regular.ttf");
}

.cont{
  display: flex;
  align-items: center;
  margin-top: 8px;
}
